@import url('https://fonts.googleapis.com/css2?family=Commissioner:wght@700;800&family=Manrope:wght@700&family=Outfit:wght@200&family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Space+Mono:ital,wght@0,700;1,400&display=swap');

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Rubik', sans-serif;
}

body{
  height: 1000px;
  background: hsl(223, 19%, 93%);
}

main{
  margin-top: 2.5rem;
}

.comment-container{
  margin: 0 auto;
  width: 340px;
  height: auto;
  border-radius: 0.8rem;
  margin-top: 1.3rem;
  padding: 1.2rem;
  background: white;
  padding-bottom: 1.2rem;
}

.comment-top{
  display: flex;
  align-items: center;
}

.img-container{
  margin-right: 1rem;
}

.username{
  margin-right: 1rem;
  font-weight: 500;
}

.comment-date{
  font-weight: 400;
  opacity: 0.5;
}

.content-box{
  padding-top: 1.2rem;
  padding-bottom: 1rem;
  line-height: 1.5rem;
  opacity: 0.5;
}

.comment-bottom{
  display: flex;
  justify-content: space-between;
  padding-top: 0.5rem;
  align-items: center;
}

.vote-counter{
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 30px;
  width: 75px;
  background: red;
  border-radius: 0.5rem;
  text-align: center;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  background: hsl(223, 19%, 93%);
  color: hsl(238, 40%, 52%);
  font-weight: 500;
}

.reply-container-btn{
  color: hsl(238, 40%, 52%);
  font-weight: 500;
}

.reply-container-btn img{
  margin-right: 0.5rem;
}

.reply{
  width: 100px;
  height: 100px;
  background: red;
}
